body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    background-image: url('slackImg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* 
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #a137b6;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 20px;
}

.content {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

.content h2 {
    text-align: left;
}

.content img {
    display: block;
    margin: 0 auto;
}

.content h1 {
    margin-bottom: 20px;
}

.content p {
    line-height: 1.6;
    text-align: left;
} */

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    width: 100%;
}

footer a {
    color: #00f;
}
